<%- include("includes/head.ejs") %>
<link rel="stylesheet" type="text/css" href="/css/cat_styles.css">
<link rel="stylesheet" href="/css/navigation.css">
  </head>
  <body>

    <%- include("includes/navigation.ejs") %>
    <div class="grid">
      <% categoryItems.forEach(item =>{ %>
          <div class="grid-item">
              <div class="card">
                <img class="card-img" src="<%= item.img_path %>" alt="Rome" />
                <div class="card-content">
                  <h1 class="card-header"> <%= item.price %> ₹ </h1>
                  <h3 class="carn-details"><strong>Owner:</strong> <%= item.owner %> </h3>
                  <h3 class="carn-details"><strong>Condition:</strong> <%=item.condition %> </h3>
                  <p class="card-text">
                    <strong>Discription:</strong>
                    <%= item.description %>
                  </p>
                  <button class="card-btn">Add To Cart <span>&rarr;</span></button>
                </div>
              </div>
            </div>
      <% }) %>
    </div>
  </body>
</html>